* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.hudoro-button {
  all: unset;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  letter-spacing: 0.21px;
}

/* HOVER  STATE */
.hudoro-button-solid:hover {
  box-shadow: 0px 8px 20px 0px rgba(28, 35, 201, 0.3);
}
.hudoro-button-outline:hover {
  box-shadow: 0px 8px 20px 0px rgba(28, 35, 201, 0.3);
}
button.hudoro-button-link:hover {
  box-shadow: 0px 8px 20px 0px rgba(28, 35, 201, 0.3);
  border: 1.5px solid rgba(28, 35, 201, 0.3);
}

/* DISABLED  STATE */
button.hudoro-button-solid:disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: #e5e7eb;
  border-color: transparent;
  color: #6b7280;
}
button.hudoro-button-outline:disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: transparent;
  border-color: #6b7280;
  color: #6b7280;
}
button.hudoro-button-link:disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: transparent;
  border-color: transparent;
  color: #6b7280;
}

/* HUORO BUTTON SIZE */
.hudoro-button-xs {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
}
.hudoro-button-sm {
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
}
.hudoro-button-md {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 14px;
}
.hudoro-button-lg {
  min-height: 48px;
  max-height: 48px;
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  font-size: 16px;
}

/* HUDORO BUTTON TYPE */
/* -> solid */
.hudoro-button-solid.hudoro-button-default {
  border: 1.5px solid #1e40af;
  background-color: #1e40af;
  color: #f9fafb;
}
.hudoro-button-solid.hudoro-button-success {
  border: 1.5px solid #22c55e;
  background-color: #22c55e;
  color: #f9fafb;
}
.hudoro-button-solid.hudoro-button-danger {
  border: 1.5px solid #ef4444;
  background-color: #ef4444;
  color: #f9fafb;
}
.hudoro-button-solid.hudoro-button-warning {
  border: 1.5px solid #eab308;
  background-color: #eab308;
  color: #f9fafb;
}
/* -> outline */
.hudoro-button-outline.hudoro-button-default {
  border: 1.5px solid #1e40af;
  background-color: transparent;
  color: #1e40af;
}
.hudoro-button-outline.hudoro-button-success {
  border: 1.5px solid #22c55e;
  background-color: transparent;
  color: #22c55e;
}
.hudoro-button-outline.hudoro-button-danger {
  border: 1.5px solid #ef4444;
  background-color: transparent;
  color: #ef4444;
}
.hudoro-button-outline.hudoro-button-warning {
  border: 1.5px solid #eab308;
  background-color: transparent;
  color: #eab308;
}
/* -> link */
.hudoro-button-link.hudoro-button-default {
  border: 1.5px solid transparent;
  background-color: transparent;
  color: #1e40af;
}
.hudoro-button-link.hudoro-button-success {
  border: 1.5px solid transparent;
  background-color: transparent;
  color: #22c55e;
}
.hudoro-button-link.hudoro-button-danger {
  border: 1.5px solid transparent;
  background-color: transparent;
  color: #ef4444;
}
.hudoro-button-link.hudoro-button-warning {
  border: 1.5px solid transparent;
  background-color: transparent;
  color: #eab308;
}

/* Full width */
.hudoro-button-width-full {
  width: 100%;
  text-align: center;
}
