@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

:root {
  /* new root color */
  /* PRIMARY */
  --hsd-ui-background-color-primary: rgb(25, 118, 210);
  --hsd-ui-text-color-primary: rgb(255, 255, 255);
  --hsd-ui-border-color-primary: rgb(25, 118, 210);
  /* hover */
  --hsd-ui-background-color-primary-hover: rgba(25, 118, 210, 0.9);
  --hsd-ui-border-color-primary-hover: rgba(25, 118, 210, 0.9);
  --hsd-ui-text-color-primary-hover: rgb(255, 255, 255);
  /* active */
  --hsd-ui-background-color-primary-active: rgb(21, 101, 192);
  --hsd-ui-border-color-primary-active: rgb(21, 101, 192);
  --hsd-ui-text-color-primary-active: rgb(255, 255, 255);
  --hsd-ui-shadow-primary-active: 0px 0px 0px 3px rgba(100, 181, 246, 0.28);
  /* disable */
  /* --hsd-ui-background-color-primary-disable: rgba(201, 206, 204, 0.68); */
  --hsd-ui-background-color-primary-disable: #dbdddc;
  --hsd-ui-border-color-primary-disable: #dbdddc;
  --hsd-ui-text-color-primary-disable: #7a8681;
  /* --hsd-ui-text-color-primary-disable: rgba(120, 134, 127, 0.62); */

  /* SECONDARY */
  --hsd-ui-background-color-secondary: rgb(255, 254, 255);
  --hsd-ui-text-color-secondary: rgb(72, 80, 76);
  --hsd-ui-border-color-secondary: rgba(120, 134, 127, 0.2);
  /* hover */
  --hsd-ui-background-color-secondary-hover: rgba(239, 243, 248, 0.9);
  --hsd-ui-border-color-secondary-hover: rgba(120, 134, 127, 0.2);
  --hsd-ui-text-color-secondary-hover: rgb(72, 80, 76);
  --hsd-ui-shadow-secondary-hover: 0px 0px 0px -1px #f0f0f0;
  /* active */
  --hsd-ui-background-color-secondary-active: rgba(201, 206, 204, 0.1);
  --hsd-ui-border-color-secondary-active: rgba(120, 134, 127, 0.2);
  --hsd-ui-text-color-secondary-active: rgb(72, 80, 76);
  --hsd-ui-shadow-secondary-active: 0px 0px 0px 3px rgba(201, 206, 204, 0.28),
    0px 0px 0px -1px #f0f0f0;
  /* disable */
  --hsd-ui-background-color-secondary-disable: rgba(201, 206, 204, 0.68);
  --hsd-ui-border-color-secondary-disable: rgba(201, 206, 204, 0.68);
  --hsd-ui-text-color-secondary-disable: rgba(120, 134, 127, 0.62);

  /* TERTIARY */
  --hsd-ui-background-color-tertiary: rgba(100, 181, 246, 0.21);
  --hsd-ui-text-color-tertiary: rgb(25, 118, 210);
  --hsd-ui-border-color-tertiary: rgba(100, 181, 246, 0.21);
  /* hover */
  --hsd-ui-background-color-tertiary-hover: rgba(100, 181, 246, 0.3);
  --hsd-ui-border-color-tertiary-hover: rgba(100, 181, 246, 0.3);
  --hsd-ui-text-color-tertiary-hover: rgb(25, 118, 210);
  --hsd-ui-shadow-secondary-hover: 0px 0px 0px -1px #f0f0f0;
  /* active */
  --hsd-ui-background-color-tertiary-active: rgba(100, 181, 246, 0.46);
  --hsd-ui-border-color-tertiary-active: rgba(100, 181, 246, 0.46);
  --hsd-ui-text-color-tertiary-active: rgb(25, 118, 210);
  --hsd-ui-shadow-tertiary-active: 0px 0px 0px 3px rgba(100, 181, 246, 0.28);
  /* disable */
  --hsd-ui-background-color-tertiary-disable: rgba(144, 202, 249, 0.8);
  --hsd-ui-border-color-tertiary-disable: rgba(144, 202, 249, 0.8);
  --hsd-ui-text-color-tertiary-disable: rgba(25, 118, 210, 0.5);

  /* QUARTERNARY */
  --hsd-ui-background-color-quarternary: rgba(255, 255, 255, 0);
  --hsd-ui-text-color-quarternary: rgb(25, 118, 210);
  --hsd-ui-border-color-quarternary: rgb(25, 118, 210);
  /* hover */
  --hsd-ui-background-color-quarternary-hover: rgba(255, 255, 255, 0);
  --hsd-ui-border-color-quarternary-hover: rgba(25, 118, 210, 0.9);
  --hsd-ui-text-color-quarternary-hover: rgba(25, 118, 210, 0.9);
  /* active */
  --hsd-ui-background-color-quarternary-active: rgb(255, 255, 255);
  --hsd-ui-border-color-quarternary-active: rgb(26, 117, 209);
  --hsd-ui-text-color-quarternary-active: rgb(25, 118, 210);
  --hsd-ui-shadow-quarternary-active: 0px 0px 0px 3px rgba(100, 181, 246, 0.28);
  /* disable */
  --hsd-ui-background-color-quarternary-disable: rgba(255, 255, 255, 0);
  --hsd-ui-border-color-quarternary-disable: rgba(120, 134, 127, 0.62);
  --hsd-ui-text-color-quarternary-disable: rgba(120, 134, 127, 0.62);

  /* LINK */
  --hsd-ui-background-color-link: rgba(255, 255, 255, 0);
  --hsd-ui-text-color-link: rgb(25, 118, 210);
  --hsd-ui-border-color-link: rgba(255, 255, 255, 0);
  /* hover */
  --hsd-ui-background-color-link-hover: rgba(255, 255, 255, 0);
  --hsd-ui-border-color-link-hover: rgba(255, 255, 255, 0);
  --hsd-ui-text-color-link-hover: rgba(13, 71, 161, 0.9);
  /* active */
  --hsd-ui-background-color-link-active: rgba(255, 255, 255, 0);
  --hsd-ui-border-color-link-active: rgba(255, 255, 255, 0);
  --hsd-ui-text-color-link-active: rgb(25, 118, 210);
  /* disable */
  --hsd-ui-background-color-link-disable: rgba(255, 255, 255, 0);
  --hsd-ui-border-color-link-disable: rgba(255, 255, 255, 0);
  --hsd-ui-text-color-link-disable: rgba(120, 134, 127, 0.62);

  /* SUCCESS */
  --hsd-ui-background-color-success: rgb(40, 172, 110);
  --hsd-ui-text-color-success: rgb(255, 255, 255);
  --hsd-ui-border-color-success: rgb(40, 172, 110);
  /* hover */
  --hsd-ui-background-color-success-hover: rgba(40, 172, 110, 0.9);
  --hsd-ui-border-color-success-hover: rgba(40, 172, 110, 0.9);
  --hsd-ui-text-color-success-hover: rgb(255, 255, 255);
  /* active */
  --hsd-ui-background-color-success-active: rgba(24, 103, 66, 0.75);
  --hsd-ui-border-color-success-active: rgba(24, 103, 66, 0.75);
  --hsd-ui-text-color-success-active: rgb(255, 255, 255);
  --hsd-ui-shadow-success-active: 0px 0px 0px 3px rgba(24, 103, 66, 0.28);
  /* disable */
  --hsd-ui-background-color-success-disable: rgb(117, 222, 173);
  --hsd-ui-border-color-success-disable: rgb(117, 222, 173);
  --hsd-ui-text-color-success-disable: rgba(40, 172, 110, 0.5);

  /* DANGER */
  --hsd-ui-background-color-danger: rgb(201, 24, 74);
  --hsd-ui-text-color-danger: rgb(255, 255, 255);
  --hsd-ui-border-color-danger: rgb(201, 24, 74);
  /* hover */
  --hsd-ui-background-color-danger-hover: rgba(201, 24, 74, 0.9);
  --hsd-ui-border-color-danger-hover: rgba(201, 24, 74, 0.9);
  --hsd-ui-text-color-danger-hover: rgb(255, 255, 255);
  /* active */
  --hsd-ui-background-color-danger-active: rgba(128, 15, 47, 0.68);
  --hsd-ui-border-color-danger-active: rgba(128, 15, 47, 0.68);
  --hsd-ui-text-color-danger-active: rgb(255, 255, 255);
  --hsd-ui-shadow-danger-active: 0px 0px 0px 3px rgba(128, 15, 47, 0.28);
  /* disable */
  --hsd-ui-background-color-danger-disable: rgb(255, 143, 163);
  --hsd-ui-border-color-danger-disable: rgb(255, 143, 163);
  --hsd-ui-text-color-danger-disable: rgba(201, 24, 74, 0.3);

  /* Warning */
  --hsd-ui-background-color-warning: rgb(179, 130, 10);
  --hsd-ui-text-color-warning: rgb(255, 255, 255);
  --hsd-ui-border-color-warning: rgb(179, 130, 10);
  /* hover */
  --hsd-ui-background-color-warning-hover: rgba(179, 130, 10, 0.9);
  --hsd-ui-border-color-warning-hover: rgba(179, 130, 10, 0.9);
  --hsd-ui-text-color-warning-hover: rgb(255, 255, 255);
  /* active */
  --hsd-ui-background-color-warning-active: rgba(126, 80, 0, 0.75);
  --hsd-ui-border-color-warning-active: rgba(126, 80, 0, 0.75);
  --hsd-ui-text-color-warning-active: rgb(255, 255, 255);
  --hsd-ui-shadow-warning-active: 0px 0px 0px 2px rgba(126, 80, 0, 0.28);
  /* disable */
  --hsd-ui-background-color-warning-disable: rgb(255, 203, 105);
  --hsd-ui-border-color-warning-disable: rgb(255, 203, 105);
  --hsd-ui-text-color-warning-disable: rgb(179, 130, 10);

  /* Border radius */
  --hsd-ui-button-border-radius-lg: var(--hsd-ui-radii-lg, 8px);
  --hsd-ui-button-border-radius-circular: 192px;

  /* spacing */
  --hsd-ui-button-spacing-xs: var(--hsd-ui-spacing-xs, 4px);
  --hsd-ui-button-spacing-sm: var(--hsd-ui-spacing-sm, 8px);
  --hsd-ui-button-spacing-md: var(--hsd-ui-spacing-md, 16px);
  --hsd-ui-button-spacing-lg: var(--hsd-ui-spacing-lg, 24px);

  /* border */
  --hsd-ui-button-border-width: var(--hsd-ui-border, 1px);

  /* font weight */
  --hsd-ui-button-font-weight: var(--hsd-ui-fontWeights-medium, 500);

  /* height */
  --hsd-ui-button-height-xs: var(--hsd-ui-h-8, 32px);
  --hsd-ui-button-height-sm: var(--hsd-ui-h-9, 36px);
  /* --hsd-ui-button-height-md: var(--hsd-ui-h-10, 40px); */
  --hsd-ui-button-height-md: 38px;
  --hsd-ui-button-height-lg: var(--hsd-ui-h-12, 48px);

  /* font size */
  --hsd-ui-button-font-size-xs: var(--hsd-ui-fontSizes-sm, 14px);
  --hsd-ui-button-font-size-sm: var(--hsd-ui-fontSizes-sm, 14px);
  --hsd-ui-button-font-size-md: var(--hsd-ui-fontSizes-sm, 14px);
  --hsd-ui-button-font-size-lg: var(--hsd-ui-fontSizes-md, 16px);
}

.hudoro-button {
  all: unset;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: var(--hsd-ui-button-spacing-xs);
  border: var(--hsd-ui-button-border-width) solid;
  font-family: "Poppins", sans-serif;
  font-weight: var(--hsd-ui-button-font-weight-medium);
  min-width: max-content;
  justify-content: center;
}

/* Full width */
.hudoro-button-width-full {
  width: 100%;
  text-align: center;
}

.hudoro-button-rounded {
  border-radius: var(--hsd-ui-button-border-radius-lg);
}
.hudoro-button-circular {
  border-radius: var(--hsd-ui-button-border-radius-circular);
}

/* HUORO BUTTON SIZE */
.hudoro-button-xs {
  height: var(--hsd-ui-button-height-xs);
  min-height: var(--hsd-ui-button-height-xs);
  max-height: var(--hsd-ui-button-height-xs);
  padding: 0 var(--hsd-ui-button-spacing-sm);
  font-size: var(--hsd-ui-button-font-size-xs);
}
.hudoro-button-sm {
  height: var(--hsd-ui-button-height-sm);
  min-height: var(--hsd-ui-button-height-sm);
  max-height: var(--hsd-ui-button-height-sm);
  padding: 0 var(--hsd-ui-button-spacing-sm);
  font-size: var(--hsd-ui-button-font-size-sm);
}
.hudoro-button-md {
  height: var(--hsd-ui-button-height-md);
  min-height: var(--hsd-ui-button-height-md);
  max-height: var(--hsd-ui-button-height-md);
  padding: 0 var(--hsd-ui-button-spacing-md);
  font-size: var(--hsd-ui-button-font-size-md);
}
.hudoro-button-lg {
  min-height: var(--hsd-ui-button-height-lg);
  max-height: var(--hsd-ui-button-height-lg);
  height: var(--hsd-ui-button-height-lg);
  padding: 0 var(--hsd-ui-button-spacing-lg);
  font-size: var(--hsd-ui-button-font-size-lg);
}

/* BUTTON TYPE */
/* PRIMARY */
.hudoro-button-primary {
  background-color: var(--hsd-ui-background-color-primary, "red");
  color: var(--hsd-ui-text-color-primary);
  border-color: var(--hsd-ui-border-color-primary);
}
.hudoro-button-primary:hover {
  background-color: var(--hsd-ui-background-color-primary-hover);
  color: var(--hsd-ui-text-color-primary-hover);
  border-color: var(--hsd-ui-border-color-primary-hover);
}
.hudoro-button-primary:active {
  background-color: var(--hsd-ui-background-color-primary-active);
  color: var(--hsd-ui-text-color-primary-active);
  border-color: var(--hsd-ui-border-color-primary-active);
  box-shadow: var(--hsd-ui-shadow-primary-active);
}
.hudoro-button-primary:disabled {
  background-color: var(--hsd-ui-background-color-primary-disable);
  color: var(--hsd-ui-text-color-primary-disable);
  border-color: var(--hsd-ui-border-color-primary-disable);
  pointer-events: none;
}

/* SECONDARY */
.hudoro-button-secondary {
  background-color: var(--hsd-ui-background-color-secondary);
  color: var(--hsd-ui-text-color-secondary);
  border-color: var(--hsd-ui-border-color-secondary);
}
.hudoro-button-secondary:hover {
  background-color: var(--hsd-ui-background-color-secondary-hover);
  color: var(--hsd-ui-text-color-secondary-hover);
  border-color: var(--hsd-ui-border-color-secondary-hover);
  box-shadow: var(--hsd-ui-shadow-secondary-hover);
}
.hudoro-button-secondary:active {
  background-color: var(--hsd-ui-background-color-secondary-active);
  color: var(--hsd-ui-text-color-secondary-active);
  border-color: var(--hsd-ui-border-color-secondary-active);
  box-shadow: var(--hsd-ui-shadow-secondary-active);
}
.hudoro-button-secondary:disabled {
  background-color: var(--hsd-ui-background-color-secondary-disable);
  color: var(--hsd-ui-text-color-secondary-disable);
  border-color: var(--hsd-ui-border-color-secondary-disable);
  pointer-events: none;
}

.hudoro-button-tertiary {
  background-color: var(--hsd-ui-background-color-tertiary);
  color: var(--hsd-ui-text-color-tertiary);
  border-color: var(--hsd-ui-border-color-tertiary);
}
.hudoro-button-tertiary:hover {
  background-color: var(--hsd-ui-background-color-tertiary-hover);
  color: var(--hsd-ui-text-color-tertiary-hover);
  border-color: var(--hsd-ui-border-color-tertiary-hover);
  box-shadow: var(--hsd-ui-shadow-tertiary-hover);
}
.hudoro-button-tertiary:active {
  background-color: var(--hsd-ui-background-color-tertiary-active);
  color: var(--hsd-ui-text-color-tertiary-active);
  border-color: var(--hsd-ui-border-color-tertiary-active);
  box-shadow: var(--hsd-ui-shadow-tertiary-active);
}
.hudoro-button-tertiary:disabled {
  background-color: var(--hsd-ui-background-color-tertiary-disable);
  color: var(--hsd-ui-text-color-tertiary-disable);
  border-color: var(--hsd-ui-border-color-tertiary-disable);
  pointer-events: none;
}

.hudoro-button-quarternary {
  background-color: var(--hsd-ui-background-color-quarternary);
  color: var(--hsd-ui-text-color-quarternary);
  border-color: var(--hsd-ui-border-color-quarternary);
}
.hudoro-button-quarternary:hover {
  background-color: var(--hsd-ui-background-color-quarternary-hover);
  color: var(--hsd-ui-text-color-quarternary-hover);
  border-color: var(--hsd-ui-border-color-quarternary-hover);
}
.hudoro-button-quarternary:active {
  background-color: var(--hsd-ui-background-color-quarternary-active);
  color: var(--hsd-ui-text-color-quarternary-active);
  border-color: var(--hsd-ui-border-color-quarternary-active);
  box-shadow: var(--hsd-ui-shadow-quarternary-active);
}
.hudoro-button-quarternary:disabled {
  background-color: var(--hsd-ui-background-color-quarternary-disable);
  color: var(--hsd-ui-text-color-quarternary-disable);
  border-color: var(--hsd-ui-border-color-quarternary-disable);
  pointer-events: none;
}

.hudoro-button-link {
  background-color: var(--hsd-ui-background-color-link);
  color: var(--hsd-ui-text-color-link);
  border-color: var(--hsd-ui-border-color-link);
}
.hudoro-button-link:hover {
  background-color: var(--hsd-ui-background-color-link-hover);
  color: var(--hsd-ui-text-color-link-hover);
  border-color: var(--hsd-ui-border-color-link-hover);
  text-decoration: underline;
  text-decoration-color: var(--hsd-ui-text-color-link-hover);
}
.hudoro-button-link:active {
  background-color: var(--hsd-ui-background-color-link-active);
  color: var(--hsd-ui-text-color-link-active);
  border-color: var(--hsd-ui-border-color-link-active);
  box-shadow: var(--hsd-ui-shadow-link-active);
  text-decoration: underline;
  text-decoration-color: var(--hsd-ui-text-color-link-active);
}
.hudoro-button-link:disabled {
  background-color: var(--hsd-ui-background-color-link-disable);
  color: var(--hsd-ui-text-color-link-disable);
  border-color: var(--hsd-ui-border-color-link-disable);
  pointer-events: none;
}

.hudoro-button-success {
  background-color: var(--hsd-ui-background-color-success);
  color: var(--hsd-ui-text-color-success);
  border-color: var(--hsd-ui-border-color-success);
}
.hudoro-button-success:hover {
  background-color: var(--hsd-ui-background-color-success-hover);
  color: var(--hsd-ui-text-color-success-hover);
  border-color: var(--hsd-ui-border-color-success-hover);
}
.hudoro-button-success:active {
  background-color: var(--hsd-ui-background-color-success-active);
  color: var(--hsd-ui-text-color-success-active);
  border-color: var(--hsd-ui-border-color-success-active);
  box-shadow: var(--hsd-ui-shadow-success-active);
}
.hudoro-button-success:disabled {
  background-color: var(--hsd-ui-background-color-success-disable);
  color: var(--hsd-ui-text-color-success-disable);
  border-color: var(--hsd-ui-border-color-success-disable);
  pointer-events: none;
}

.hudoro-button-danger {
  background-color: var(--hsd-ui-background-color-danger);
  color: var(--hsd-ui-text-color-danger);
  border-color: var(--hsd-ui-border-color-danger);
}
.hudoro-button-danger:hover {
  background-color: var(--hsd-ui-background-color-danger-hover);
  color: var(--hsd-ui-text-color-danger-hover);
  border-color: var(--hsd-ui-border-color-danger-hover);
}
.hudoro-button-danger:active {
  background-color: var(--hsd-ui-background-color-danger-active);
  color: var(--hsd-ui-text-color-danger-active);
  border-color: var(--hsd-ui-border-color-danger-active);
  box-shadow: var(--hsd-ui-shadow-danger-active);
}
.hudoro-button-danger:disabled {
  background-color: var(--hsd-ui-background-color-danger-disable);
  color: var(--hsd-ui-text-color-danger-disable);
  border-color: var(--hsd-ui-border-color-danger-disable);
  pointer-events: none;
}

.hudoro-button-warning {
  background-color: var(--hsd-ui-background-color-warning);
  color: var(--hsd-ui-text-color-warning);
  border-color: var(--hsd-ui-border-color-warning);
}
.hudoro-button-warning:hover {
  background-color: var(--hsd-ui-background-color-warning-hover);
  color: var(--hsd-ui-text-color-warning-hover);
  border-color: var(--hsd-ui-border-color-warning-hover);
}
.hudoro-button-warning:active {
  background-color: var(--hsd-ui-background-color-warning-active);
  color: var(--hsd-ui-text-color-warning-active);
  border-color: var(--hsd-ui-border-color-warning-active);
  box-shadow: var(--hsd-ui-shadow-warning-active);
}
.hudoro-button-warning:disabled {
  background-color: var(--hsd-ui-background-color-warning-disable);
  color: var(--hsd-ui-text-color-warning-disable);
  border-color: var(--hsd-ui-border-color-warning-disable);
  pointer-events: none;
}
